* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: $fontfamily;
}

*:focus {
  outline: none;
}

body {
  font-size: $body;
}

h1 {
  font-size: $h1;
  line-height: 1;
}

h2 {
  font-size: $h2;
  line-height: 1;
}

h3 {
  font-size: $body;
  line-height: 1;
}

a {
  font-size: 14px;
  color: $dark;
  white-space: nowrap;
  text-transform: uppercase;
}

a,
a:hover {
  text-decoration: none;
}

a:focus,
a,
a:hover,
button {
  outline: none;
}

a:focus {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

p {
  font-size: 14px;
  color: $para;
  line-height: 26px;
  margin: 0 0 30px;
  letter-spacing: 0.4px;
}

input {
  font-family: $fontfamily;
  outline: 0;
}

input[type="submit"] {
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 60px;
}

@media only screen and(max-width:$minilaptop) {
  .container {
    padding: 0 20px;
  }
}

@media only screen and(max-width:$mobilel) {
  .container {
    padding: 0 10px;
  }
}