/* Font family */
$fontfamily: 'Poppins', sans-serif;

/* colors */
$red: #C8122E;
$dark: #0A1118;
$orange: #EDAB5E;
$light: #F4F4F4;
$whitebg: #fff;
$para: #7f8b9b;

/* Font size */
$h1: 60px;
$h2: 40px;
$body: 18px;

// Media Queries

$laptop : 1500px;
$minilaptop : 1280px;
$tabl : 1024px;
$tabp : 850px;
$mobilel : 680px;
$mobilep : 480px;